{% extends 'ChillEventBundle::layout.html.twig' %}

{% import 'ChillPersonBundle:Person:macro.html.twig' as person_macro %}

{% block event_content -%}
    <h1>{{ 'Participation Edit'|trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Associated person'|trans }}</th>
                <td>{{ person_macro.render(participation.person) }}</td>
            </tr>
            <tr>
                <th>{{ 'Associated event'|trans }} </th>
                <td>{{ participation.event.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Date'|trans }} </th>
                <td>{{ participation.event.date|localizeddate('long', 'none') }}</td>
            </tr>
        </tbody>
    </table>
    
    {{ form_start(form) }}
    {{ form_row(form.role) }}
    {{ form_row(form.status) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('chill_event__event_show', { 'event_id' : participation.event.id } ) }}" class="sc-button bt-cancel">
                <i class="fa fa-arrow-left"></i>
                {{ 'Back to the event'|trans }}
            </a>
        </li>
        <li>
            {{ form_widget(form.submit, { 'attr' : { 'class' : 'sc-button bt-edit' } } ) }}
        </li>
    </ul>
    
    {{ form_end(form) }}
{% endblock %}
