{% extends 'ChillEventBundle::layout.html.twig' %}

{% block title 'Event edit'|trans %}

{% block event_content -%}
    <h1>{{ 'Event edit'|trans }}</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    {{ form_row(edit_form.circle) }}
    {% if edit_form.center is defined %}
    {{ form_row(edit_form.center) }}
    {% endif %}
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.date) }}
    {{ form_row(edit_form.type, { 'label': 'Event type' }) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('chill_event_list_most_recent') }}" class="sc-button bt-cancel">
                <i class="fa fa-arrow-left"></i>
                {{ 'Back to the most recent events'|trans }}
            </a>
        </li>
        <li>
            {{ form_widget(edit_form.submit, { 'attr' : { 'class' : 'sc-button bt-update' } }) }}
        </li>
    </ul>
            
    {{ form_end(edit_form) }}
{% endblock %}
