{% extends 'ChillEventBundle::layout.html.twig' %}

{% block title 'Event creation'|trans %}

{% block event_content -%}
    <h1>{{ 'Event creation'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.circle) }}
    {{ form_row(form.center) }}
    {{ form_row(form.name) }}
    {{ form_row(form.date) }}
    {{ form_row(form.type, { 'label': 'Event type' }) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('chill_event_list_most_recent') }}" class="sc-button bt-cancel">
                <i class="fa fa-arrow-left"></i>
                {{ 'Back to the most recent events'|trans }}
            </a>
        </li>
        <li>
            {{ form_widget(form.submit, { 'attr' : { 'class' : 'sc-button bt-create' } }) }}
        </li>
    </ul>
            
    {{ form_end(form) }}
{% endblock %}
